<h2>Add New Product</h2>

<form action="/add-products" method="post">
    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" name="title" id="title" required />
        </div>

        <div class="col-md-5 mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" name="description" id="description" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" class="form-control" name="price" id="price" required />
        </div>

        <div class="col-md-5 mb-3">
            <label for="thumbnail" class="form-label">Thumbnail:</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="category" class="form-label">Category:</label>
            <input type="text" class="form-control" name="category" id="category" required />
        </div>

        <div class="col-md-5 mb-3">
            <label for="stock" class="form-label">Stock:</label>
            <input type="number" class="form-control" name="stock" id="stock" required />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="code" class="form-label">Code:</label>
            <input type="text" class="form-control" name="code" id="code" required />
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success">Add Product</button>
    <a class="btn btn-outline-danger" href="/home" role="button">Return</a>
</form>