<h3>login</h3>

<form  action="/api/session/login" method="post" >
    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>

        <div class="col-md-5 mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success">Login</button>
</form>